@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 370px;
}
input {
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    @apply bg-gray-700;
    max-width: 700px;
    margin: 0 auto;
}

.Toastify__toast-theme--dark {
    @apply bg-gray-800 !important
}

.Toastify__toast {
    @apply min-h-[80px] !important;
}

.Toastify__toast-body {
    @apply font-semibold !important;
}

.Toastify__close-button {
    @apply hidden !important;
}